body {
    background: #fefefe;
}

.page {
    background-image: url('img/teacher_in_the_classroom.jpg');
    background-repeat: repeat-y;
    background-position: top left;
    min-height: 100vh;
    background-attachment: local;
    background: rgb(155, 150, 230);
    background: linear-gradient(90deg, rgba(155, 150, 230, 1) 0%, rgba(240, 215, 238, 1) 10%);
}

.main {}

.main_header {
    color: #1460aa;
    font-size: 32px;
}

.main_paragraph {}

.article {}

.article_header {}

.article_image {
    width: 100%;
    max-width: 500px;
    display: block;
    float: left;
    margin: 0 16px 16px 0;
}

.article_paragraph {
    color: orangered;
    font-size: 35px;
}

.sectionHeader {
    color: red;
    text-emphasis: bold;
}

.diaryHeader {
    color: blueviolet;
}

.date {
    font-weight: 500;
    background-color: aqua;
    padding-left: 16px;
    border: 3px solid blue;
    width: 50%;
    line-height: 32px;
}

.foot {
    font-style: italic;
    background-color: crimson;
}

.navigation {
    /* position: fixed; */
    width: 100%;
    /* top: 10px; */
    /* left: 0px; */
    box-sizing: border-box;
    padding: 16px;
    font-size: 18px;
}

.navigation_list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation_item {
    display: block;
    color: blue;
    margin: 0 16px;
}

.navigation_link {
    color: blue;
}

@media (max-width: 1000px) {
    /* .navigation {
        display: none;
    } */
    .navigation_list {
        display: none;
        flex-direction: column;
    }
    .navigation_switcher {
        border: none;
        background: none;
    }
    .navigation_list--visible {
        display: flex;
    }
}

@media (min-width: 1001px) {
    .navigation_switcher {
        display: none;
    }
}

.about {
    width: 100%;
    max-width: 400px;
    margin: 32px auto;
    position: relative;
}

.main {
    width: 100%;
    max-width: 700px;
    margin: 16px auto;
}

.box, .boxTest {
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    padding: 10px;
    border: 10px solid red;
    box-sizing: border-box;
    position: absolute;
}

.boxTest {
    top: 30px;
    right: 55%;
    background-color: blueviolet;
}

.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: yellowgreen;
}

.image {}

article section h2 {}

article.article section h2 {}

.article section h2 {}

.hobby {}

.hobby_list {}

.table {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

@media (max-width:640px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width:1000px) {
    .main {
        max-width: 900px;
    }
}

.header__title {
    color: #1460aa;
    margin-bottom: 48px;
}

.header__title--red {
    color: darkred;
}